[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@chainlink/contracts/=lib/chainlink-brownie-contracts/contracts/",
    "@openzeppelin/contracts=lib/openzeppelin-contracts/contracts/",
]

[lint]
exclude_lints = [
    "screaming-snake-case-immutable", 
    "mixed-case-variable", 
    "screaming-snake-case-const"
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
